* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}



table {
	width: 50%;
	border-collapse: collapse;
	margin: 20px auto;
	text-align: center;
}
th, td {
	border: 1px solid black;
	padding: 10px;
}
th {
	background-color: #f2f2f2;
}